@import '../../../styles/variables.scss';

.card-row{
    display: flex;
    .card {
        width: 100%;
        margin: 1%;
    }
}
.title-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title-logo{
        display: flex;
    }
}

