@import '../../styles/global.scss';
.register-wrapper{

    .header-register{
        text-align: center;
    }
    .forms-wrapper{
        background-color: white;
        margin: auto;
        width: 70%;
        border-radius: 7px;
        box-shadow: 5px 10px 18px gray;

        .header-section{
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: x-large;
            padding: 2%;
        }
        .data-form{
            background-color: $form-colors;
            margin: auto;
            width: 90%;
            border-radius: 7px;
            border: 1px solid gray;
        }
        .buttons-actions{
            text-align: right;
            padding: 2%;
        }
    }
    
}
