@import '../../../styles/global.scss';

.user-info-container{
    //margin: 2.5% 0;
    position: absolute; 
    top: 100px;
    width: 100%;
}
.card-text{
    display: flex;
    justify-content: space-between;
   
}
.follows{
    .card-title{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .community-actions{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

    
